
:root, body {
    width: 100%;
    height: 100%;
    margin: 0;

    --theme-color-1: hsl(222, 63%, 57%);
    --theme-color-2: hsl(206, 61%, 54%);
    --theme-color-3: hsl(190, 52%, 56%);
    --theme-color-4: hsl(174, 70%, 40%);
    --theme-color-5: hsl(156, 63%, 50%);
    --theme-red-color: hsl(4, 56%, 55%);

}

header {
    --padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    height: 15%;
    width: calc(100% - var(--padding));
    padding-left: var(--padding);

    display: flex;
    align-items: center;
    justify-content: left;
    
    background: linear-gradient(to right, var(--theme-color-1), var(--theme-color-3));
    color: white;
}

header span {
    cursor: text;
    text-decoration: underline;
}

header span::after {
    content: " Bingo";
}

div#main {
    width: 95%;
    margin-inline: 2.5%;
    padding-top: 1em;
    font-family: 'Noto Sans', sans-serif;
    
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

}

div#main > a {
    color: black;
    text-decoration: none;
    align-self: baseline;
    transition: padding-left 250ms;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5em;
}

div#main i.hidden {
    font-size: 2em;
    color: var(--theme-color-4);
}

.hidden {
    display: none;
}

div#main > a:hover i.hidden {
    display: block;
}

div#main hr {
    border: 1px solid var(--theme-color-5);
}

div#main em {
    font-size: 0.9em;
    color: hsl(0, 0%, 40%);
}

div#buttons {
    width: 100%;
}

button {
    font-family: 'Noto Sans', sans-serif;
    padding: 0.5em;
    margin: 0.25em;
    background-color: white;
    border: 2px solid var(--theme-color-2);
    color: var(--theme-color-2);
    font-weight: bold;
    cursor: pointer;
    transition: color 250ms, background-color 250ms;
}

button:hover {
    color: white;
    background-color: var(--theme-color-2);
}

div#main hr {
    width: 100%;
}

button.red {
    color: var(--theme-red-color);
    border-color: var(--theme-red-color);
}

button.red:hover {
    background-color: var(--theme-red-color);
    color: white;
}

dialog {
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
}

dialog:modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

label {
    width: 100%;
}

input[type=text] {
    width: calc(100% - 0.5em);
    font-size: 1.25em;
    font-family: 'Noto Sans', sans-serif;
    padding: 0.25em;
    border: 2px solid var(--theme-color-4);
}

div#items {
    border: 2px solid var(--theme-color-3);
    max-height: 26em;
    min-height: 3em;
    overflow-y: auto;
    width: 100%;
}

div#main > span {
    font-size: 1.25em;
}

div.item {
    width: calc(100% - 0.5em);
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.25em;
}

div.item:nth-child(even) {
    background-color: hsl(0, 0%, 90%);
}

div.item button {
    margin-left: auto;
}